.build-form {
  label {
    font-size: 0.8rem;
    margin: 0;
  }
  p {
    font-size: 0.8rem;
    margin: 0.2rem 0;
  }

  p.info {
    font-size: 0.65rem;
    padding-left: 1.5rem;
  }
  p.indent {
    padding-left: 1.5rem;
  }

  .classlist {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;

        label {
          display: inline-block;
          min-width: 5rem;
        }

        select {
          font-size: 0.8rem;
          width: 8.2rem;

          &.axis-select {
            width: 4rem;
          }
        }
      }
    }
  }
}