<div class="build-form">
    {{#> Slideshow 
      id='slides-character'
      vertical=true
      forward="#milestones-character.current"
      slides=(array
        "start"
        "class"
        "options"
        "download"
      )
    }}

      {{#> Slide jump="start" first="true"}}
        {{#> Place}}
          {{#> Row align="centre"}}
            {{#if (eq game "pathfinder")}}
              {{> Picture src="/images/pathfinder.png" size="logo"}}
            {{/if}}
            {{#if (eq game "starfinder")}}
              {{> Picture src="/images/starfinder.png" size="logo"}}
            {{/if}}
            {{#if (eq game "dnd35")}}
              {{> Picture src="/images/dnd35.png" size="logo"}}
            {{/if}}
          {{/Row}}

          {{#> Row pad=true}}
            {{> Spacer}}
            <p>
              {{__ "Language"}}:
              {{#> Button class="btn btn--light" on-click="body.currentMenu = language-menu"}}
                {{> Icon icon="globe"}}{{__ (languagename lang)}}
              {{/Button}}
            </p>
          {{/Row}}
          
          {{#> TileGrid grid="2-2" }}
            
            {{#> Button 
              type="tile"
              on-click="#switch-character.current=character; #slides-character.jump=class"
            }}
              <div>
                {{> Picture src="/images/single.png" size="tile"}}
              </div>
              <h3>{{__ "Character"}}</h3>
            {{/Button}}

            {{#> Button 
              type="tile"
              on-click="#switch-character.current=gm; #slides-character.jump=gm"
            }}
              {{> Picture src="/images/gm.png" size="tile"}}
              <h3>{{__ "GM"}}</h3>
            {{/Button}}

            {{#if (eq game "pathfinder")}}
              {{#> Button
                type="tile"
                on-click="#switch-character.current=kingmaker; #slides-character.jump=kingmaker"
              }}  
                {{> Picture src="/images/kingmaker-logo2.png" size="logo"}}
              {{/Button}}
            {{/if}}

            {{#if (eq game "starfinder")}}
              {{#> Button
                type="tile"
                on-click="#switch-character.current=starship; #slides-character.jump=starship"
              }}  
                <h3>{{__ "Starship"}}</h3>
              {{/Button}}
            {{/if}}

            {{#> Button
              type="tile"
              on-click="#switch-character.current=mini; #slides-character.jump=mini"
            }}
              <h3>{{__ "Map Figure"}}</h3>
            {{/Button}}

          {{/TileGrid}}
        {{/Place}}
      {{/Slide}}

      

      {{#> Switch 
        id='switch-character'
        current=''
        forward='#switch-milestones.current'
      }}
        {{#> SwitchCase value='character'}}

          {{#> Slide jump="class" slide=2 show-next=true}}
            {{#if (eq game "starfinder")}}
              {{#> Columns n=3}}
                {{#> Column}}
                  <h2>{{__ "Theme"}}</h2>
                {{/Column}}
                {{#> Column}}
                  <h2>{{__ "Class"}}</h2>
                {{/Column}}
                {{#> Column}}
                  <h2>{{__ "Archetype"}}</h2>
                {{/Column}}
              {{/Columns}}
            {{else}}
              <h2>{{__ "Class"}}</h2>
            {{/if}}
            
            <div class="classlist">
              {{#> Columns n=gameData.layout.length}}
                {{#each gameData.layout as |col colIndex|}}
                  {{#> Column}}
                    
                    {{#each col as |book bookIndex|}}
                      <h3>{{__ book.displayName}}</h3>
                      <ul>
                        {{#each book.classes as |class classIndex|}}
                          <li>
                          {{#if book.radio}}
                            <input type='radio' name='switch-class' value='{{class.name}}' id='class-{{class.code}}' data-class='{{class.code}}' data-classname='{{class.name}}' />
                          {{else}}
                            <input type='checkbox' name='class-{{class.name}}' id='class-{{class.code}}' data-class='{{class.code}}' data-classname='{{class.name}}' />
                          {{/if}}
                          <label for='class-{{code}}'>{{__ name}}</label>

                          {{#if variants}}
                            {{#if axes}}
                              {{#each axes as |axis axisIndex|}}
                                <select name='variant-{{class.name}}-axis-{{axisIndex}}' id='variant-{{class.name}}-axis-{{axisIndex}}' class='axis-select'>
                                  {{#each axis}}
                                    <option value='{{this}}'>{{__ this}}</option>
                                  {{/each}}
                                </select>
                              {{/each}}
                            {{else}}
                              <select name='variant-{{class.name}}' id='variant-{{class.name}}'>
                                {{#each variants as |variant variantIndex|}}
                                  <option value='{{name}}'>{{__ name}}</option>
                                {{/each}}
                              </select>
                            {{/if}}
                          {{/if}}
                          </li>
                        {{/each}}
                      </ul>
                    {{/each}}

                  {{/Column}}
                {{/each}}
              {{/Columns}}
            </div>
          {{/Slide}}

          {{#> Slide jump="options" slide=3 show-next=true}}
            <h2>{{__ "Options"}}</h2>

            {{#> Columns}}
              {{#> Column}}

                {{#if gameData.isStarfinder}}
                  <h3>{{__ "Beginners"}}</h3>
                  <fieldset>
                    <p><label for='buildmycharacter'><input type='checkbox' name='build-my-character' id='buildmycharacter' checked> {{__ "Build a character"}}</label><p>
                    <p class='info'>{{__ "A sheet to help beginners with the process of building their character."}}</p>
                  </fieldset>
                {{/if}}


                {{#if gameData.isDnd35}}
                  <div id='simple-section'>
                    <label for="simple"><input type="checkbox" name="simple" id="simple"> {{__ "Simpler version"}}</label>
                    <p class="info">{{__ "The simplified version does not have a separate sheet for inventory and equipment, instead merging these onto the core sheets. This is only recommended for low-level characters, and is not compatible with the Barbarian, Ranger or Psionic characters."}}</p>
                  </div>
                  
                  <label for="more"><input type="checkbox" name="more" id="more"> {{__ "More classes"}}</label>
                  <p class="info">{{__ "Includes space for 7 classes rather than 5."}}</p>
                {{/if}}

                <h3>{{__ "Pages"}}</h3>
                <fieldset>
                  <p><label for="spellbook-size">{{__ "Spellbook style"}}</label>
                    <select name="spellbook-size" id="spellbook-size">
                      <option value="small">{{__ "Small entries"}}</option>
                      <option value="medium" selected>{{__ "Normal entries"}}</option>
                      <option value="large">{{__ "Large entries"}}</option>
                      <option value="none">{{__ "None"}}</option>
                    </select></p>
            
                  {{#if gameData.isStarfinder}}
                  <p><label for="inventory-style">{{__ "Inventory style"}}</label>
                    <select name="inventory-style" id="inventory-style">
                        <option value="normal" selected>{{__ "Normal (on the combat page)"}}</option>
                        <option value="expanded">{{__ "Expanded (separate page)"}}</option>
                    </select></p>
                  {{else}}
                  <p><label for="inventory-style">{{__ "Inventory style"}}</label>
                    <select name="inventory-style" id="inventory-style">
                        <option value="auto" selected>{{__ "Auto-detect"}}</option>
                        <option value="with">{{__ "With wands, scrolls and potions"}}</option>
                        <option value="without">{{__ "Without wands, scrolls and potions"}}</option>
                    </select></p>
                  {{/if}}
                </fieldset>

                <h3>{{__ "Skills"}}</h3>
                <fieldset>
                  <p><label for="skills-style">{{__ "Skills list style"}}</label>
                      <label for="skills-list-style-normal">
                        <input type="radio" name="skills-list-style" value="normal" id="skills-list-style-normal" checked>
                        {{__ "Normal"}}</label> &nbsp; 
                      {{#if gameData.isPathfinder}}
                      <label for="skills-list-style-consolidated">
                        <input type="radio" name="skills-list-style" value="consolidated" id="skills-list-style-consolidated"> 
                        {{__ "Consolidated"}}</label> &nbsp; 
                      {{/if}}
                      <label for="skills-list-style-blank">
                        <input type="radio" name="skills-list-style" value="blank" id="skills-list-style-blank"> 
                        {{__ "Blank"}}</label>
                  </p>

                  {{#unless gameData.isStarfinder}}
                    <p><label for="all-knowledge"><input type="checkbox" name="all-knowledge" id="all-knowledge" /> {{__ "Include all knowledge skills"}}</label></p>
                    <p class='info'>{{__ "This reduces the space available for Craft, Profession and Perform skills. Bards get all knowledge skills anyway."}}</p>
                  {{/unless}}

                  <table id='flexi-skills'>
                  {{#unless gameData.isStarfinder}}
                    <tr><td><label for="show-perform"><input type="checkbox" name="show-perform" id="show-perform" /> {{__ "Perform"}}</label></td>
                      <td id='perform-group'>
                      <select name="perform-skill-0">
                        <option value="act">({{__ "act"}})</option>
                        <option value="comedy">({{__ "comedy"}})</option>
                        <option value="dance">({{__ "dance"}})</option>
                        <option value="keyboard">({{__ "keyboard"}})</option>
                        <option value="oratory">({{__ "oratory"}})</option>
                        <option value="percussion">({{__ "percussion"}})</option>
                        <option value="string">({{__ "string"}})</option>
                        <option value="wind">({{__ "wind"}})</option>
                        <option value="sing">({{__ "sing"}})</option>
                      </select>
                      </td><td>
                        <a class='button mini perform-more'>+</a>
                      </td>
                    </tr>
                  {{/unless}}

                  {{#unless gameData.isStarfinder}}
                    <tr><td><label for="show-craft"><input type="checkbox" name="show-craft" id="show-craft" /> {{__ "Craft"}}</label></td>
                      <td id='craft-group'>
                      <select name="craft-skill-0">
                      {{#if gameData.isPathfinder}}
                        <option value="alchemy">({{__ "alchemy"}})</option>
                        <option value="armour">({{__ "armour"}})</option>
                        <option value="baskets">({{__ "baskets"}})</option>
                        <option value="books">({{__ "books"}})</option>
                        <option value="bows">({{__ "bows"}})</option>
                        <option value="calligraphy">({{__ "calligraphy"}})</option>
                        <option value="carpentry">({{__ "carpentry"}})</option>
                        <option value="cloth">({{__ "cloth"}})</option>
                        <option value="clothing">({{__ "clothing"}})</option>
                        <option value="glass">({{__ "glass"}})</option>
                        <option value="jewellery">({{__ "jewellery"}})</option>
                        <option value="leather">({{__ "leather"}})</option>
                        <option value="locks">({{__ "locks"}})</option>
                        <option value="paintings">({{__ "paintings"}})</option>
                        <option value="pottery">({{__ "pottery"}})</option>
                        <option value="sculptures">({{__ "sculptures"}}</option>
                        <option value="ships">({{__ "ships"}})</option>
                        <option value="shoes">({{__ "shoes"}})</option>
                        <option value="stonemasonry">({{__ "stonemasonry"}})</option>
                        <option value="traps">({{__ "traps"}})</option>
                        <option value="weapons">({{__ "weapons"}})</option>
                      {{/if}}
                      {{#if gameData.isDnd35}}
                        <option value='alchemy'>({{__ "alchemy"}})</option>
                        <option value='armourer'>({{__ "armourer"}})</option>
                        <option value='blacksmithing'>({{__ "blacksmithing"}})</option>
                        <option value='bookbinding'>({{__ "bookbinding"}})</option>
                        <option value='bowmaking'>({{__ "bowmaking"}})</option>
                        <option value='brewery'>({{__ "brewery"}})</option>
                        <option value='calligraphy'>({{__ "calligraphy"}})</option>
                        <option value='carpentry'>({{__ "carpentry"}})</option>
                        <option value='carver'>({{__ "carver"}})</option>
                        <option value='chemist'>({{__ "chemist"}})</option>
                        <option value='founder'>({{__ "founder"}})</option>
                        <option value='glassblowing'>({{__ "glassblowing"}})</option>
                        <option value='cooking'>({{__ "cooking"}})</option>
                        <option value='jeweler'>({{__ "jeweler"}})</option>
                        <option value='leatherworking'>({{__ "leatherworking"}})</option>
                        <option value='masonry'>({{__ "masonry"}})</option>
                        <option value='mechanic'>({{__ "mechanic"}})</option>
                        <option value='painting'>({{__ "painting"}})</option>
                        <option value='pottery'>({{__ "pottery"}})</option>
                        <option value='sculpting'>({{__ "sculpting"}})</option>
                        <option value='stone masonry'>({{__ "stone masonry"}})</option>
                        <option value='tailor'>({{__ "tailor"}})</option>
                        <option value='weaving'>({{__ "weaving"}})</option>
                        <option value='winemaking'>({{__ "winemaking"}})</option>
                      {{/if}}
                      </select>
                      </td><td>
                        <a class='button mini craft-more'>+</a>
                      </td>
                    </tr>
                  {{/unless}}

                  <tr><td><label for="show-profession"><input type="checkbox" name="show-profession" id="show-profession" /> {{__ "Profession"}}</label></td>
                    <td id='profession-group'>
                    <select name="profession-skill-0">
                      {{#if gameData.isStarfinder}}
                        <option value="accountant">({{__ "accountant"}})</option>
                        <option value="actor">({{__ "actor"}})</option>
                        <option value="archaeologist">({{__ "archaeologist"}})</option>
                        <option value="architect">({{__ "architect"}})</option>
                        <option value="artist">({{__ "artist"}})</option>
                        <option value="bounty hunter">({{__ "bounty hunter"}})</option>
                        <option value="comedian">({{__ "comedian"}})</option>
                        <option value="con artist">({{__ "con artist"}})</option>
                        <option value="cook">({{__ "cook"}})</option>
                        <option value="corporate">({{__ "corporate"}})</option>
                        <option value="counselor">({{__ "counselor"}})</option>
                        <option value="courtesan">({{__ "courtesan"}})</option>
                        <option value="dancer">({{__ "dancer"}})</option>
                        <option value="dockworker">({{__ "dockworker"}})</option>
                        <option value="electrician">({{__ "electrician"}})</option>
                        <option value="farmer">({{__ "farmer"}})</option>
                        <option value="gambler">({{__ "gambler"}})</option>
                        <option value="general contractor">({{__ "general contractor"}})</option>
                        <option value="herbalist">({{__ "herbalist"}})</option>
                        <option value="lab technician">({{__ "lab technician"}})</option>
                        <option value="lawyer">({{__ "lawyer"}})</option>
                        <option value="maintenance worker">({{__ "maintenance worker"}})</option>
                        <option value="manager">({{__ "manager"}})</option>
                        <option value="mathematician">({{__ "mathematician"}})</option>
                        <option value="mercenary">({{__ "mercenary"}})</option>
                        <option value="merchant">({{__ "merchant"}})</option>
                        <option value="miner">({{__ "miner"}})</option>
                        <option value="musician">({{__ "musician"}})</option>
                        <option value="orator">({{__ "orator"}})</option>
                        <option value="personality">({{__ "personality"}})</option>
                        <option value="philosopher">({{__ "philosopher"}})</option>
                        <option value="poet">({{__ "poet"}})</option>
                        <option value="politician">({{__ "politician"}})</option>
                        <option value="professional">({{__ "professional"}})</option>
                        <option value="professor">({{__ "professor"}})</option>
                        <option value="psychologist">({{__ "psychologist"}})</option>
                        <option value="smuggler">({{__ "smuggler"}})</option>
                        <option value="video">({{__ "video"}})</option>
                        <option value="vidgamer">({{__ "vidgamer"}})</option>
                        <option value="writer">({{__ "writer"}})</option>
                      {{else}}
                        <option value='architect'>({{__ "architect"}})</option>
                        <option value='baker'>({{__ "baker"}})</option>
                        <option value='barrister'>({{__ "barrister"}})</option>
                        <option value='brewer'>({{__ "brewer"}})</option>
                        <option value='butcher'>({{__ "butcher"}})</option>
                        <option value='clerk'>({{__ "clerk"}})</option>
                        <option value='cook'>({{__ "cook"}})</option>
                        <option value='courtesan'>({{__ "courtesan"}})</option>
                        <option value='driver'>({{__ "driver"}})</option>
                        <option value='engineer'>({{__ "engineer"}})</option>
                        <option value='farmer'>({{__ "farmer"}})</option>
                        <option value='fisherman'>({{__ "fisherman"}})</option>
                        <option value='gambler'>({{__ "gambler"}})</option>
                        <option value='gardener'>({{__ "gardener"}})</option>
                        <option value='herbalist'>({{__ "herbalist"}})</option>
                        <option value='innkeeper'>({{__ "innkeeper"}})</option>
                        <option value='librarian'>({{__ "librarian"}})</option>
                        <option value='merchant'>({{__ "merchant"}})</option>
                        <option value='midwife'>({{__ "midwife"}})</option>
                        <option value='miller'>({{__ "miller"}})</option>
                        <option value='miner'>({{__ "miner"}})</option>
                        <option value='porter'>({{__ "porter"}})</option>
                        <option value='sailor'>({{__ "sailor"}})</option>
                        <option value='scribe'>({{__ "scribe"}})</option>
                        <option value='shepherd'>({{__ "shepherd"}})</option>
                        <option value='stable master'>(stable master)</option>
                        <option value='soldier'>({{__ "soldier"}})</option>
                        <option value='tanner'>({{__ "tanner"}})</option>
                        <option value='trapper'>({{__ "trapper"}})</option>
                        <option value='woodcutter'>({{__ "woodcutter"}})</option>
                      {{/if}}
                    </select>
                    </td><td>
                      <a class='button mini profession-more'>+</a>
                    </td>
                  </tr>
                  </table>

                  <p class='info'>There may be other Craft, Perform and Profession skills, depending on setting and rules. Check with your {{#if gameData.isDnd}}DM{{else}}GM{{/if}}</p>
                </fieldset>

                <h3>{{__ "Additional pages"}}</h3>
                <fieldset>
                  <p><label for="include-background"><input type="checkbox" name="include-background" id="include-background" checked /> {{__ "Character background"}}</label></p>
                  {{#if gameData.isPathfinder}}
                    <p class='indent'><label for="include-pathfinder-society"><input type="checkbox" name="include-pathfinder-society" id="include-pathfinder-society" /> {{__ "Pathfinder Society"}}</label></p>
                  {{/if}}
                  {{#unless gameData.isStarfinder}}
                    <p><label for="include-lycanthrope"><input type="checkbox" name="include-lycanthrope" id="include-lycanthrope" /> {{__ "Lycanthrope"}}</label></p>
                    <p><label for="include-party-funds"><input type="checkbox" name="include-party-funds" id="include-party-funds" /> {{__ "Party funds"}}</label></p>
                    <p><label for="include-animal-companion"><input type="checkbox" name="include-animal-companion" id="include-animal-companion" /> {{__ "Animal companion"}}</label></p>
                    <p class='info'>{{__ "Wizards, Rangers, Witches etc get the animal companion automatically"}}</p>
                  {{/unless}}
                  {{#if gameData.isPathfinder}}
                    <p><label for="include-intelligent-item"><input type="checkbox" name="include-intelligent-item" id="include-intelligent-item" /> {{__ "Intelligent item"}}</label></p>
                  {{/if}}

                  <p><label for="include-mini"><input type="checkbox" name="include-mini" id="include-mini" checked /> {{__ "Map figure sheet"}}</label></p>
                  <p class='info'>{{__ "Includes stand-up map figure, square map token and stats card for initiative tracking."}}</p>
                  <p class='indent'>{{__ "Size"}}: 
                    <label for="mini-small"><input type="radio" name="mini-size" value="small" id="mini-small"> {{__ "Small"}}</label>&nbsp; 
                    <label for="mini-medium"><input type="radio" name="mini-size" value="medium" id="mini-medium" checked> {{__ "Medium"}}</label>&nbsp; 
                    <label for="mini-large"><input type="radio" name="mini-size" value="large" id="mini-large"> {{__ "Large"}}</label>
                  </p>
                </fieldset>

              {{/Column}}
              {{#> Column}}

                <h3>{{__ "Portrait"}}</h3>
                {{> ImageDrop
                  id="iconic"
                  shape="portrait"
                  label="Select or drop portrait"
                  button="Select portrait"
                  placeholder="/images/generic.png"
                  imageselect="portrait"
                }}
<!--                   
                <div class='well' id='iconic'>
                  <input type='hidden' name='inventory-iconic' id='inventory-iconic' value='default'/>
                  <input type='hidden' name='inventory-iconic-custom' id='inventory-iconic-custom' value=''/>
                  <img src='/iconics/generic.png' id='iconic-generic' class='selected' />
                  <img src='/iconics/custom.png' id='iconic-custom' class="custom" />
                  {{#each iconics}}
                    <img data-src='{{this.url}}' id='iconic-{{this.id}}'/>
                  {{/each}}
                  <p><a class='button' href='javascript:void(0);' id='select-iconic-button'>{{__ "Select portrait"}}</a></p>
                </div> -->
                
                <h3>{{__ "Logo"}}</h3>
                {{> ImageDrop
                  id="iconic"
                  shape="logo"
                  label="Select or drop logo"
                  button="Select portrait"
                  placeholder=logo
                  imageselect="logo"
                }}
<!-- 
                  <input type='hidden' name='logo' id='logo-select' />
                  <input type='hidden' name='logo-iconic-custom' id='logo-iconic-custom' value=''/>
                <div class='well' id='logo'>
                  {{#each logos}}
                    <img src='{{url}}' data-id='{{id}}' id='logo-{{id}}' {{#ifEq id @root.gameData.defaultLogo}}class='selected'{{/ifEq}} />
                  {{/each}}
                  <img id='logo-custom' class='custom' />
                  <p><a class='button' href='javascript:void(0);' id='select-logo-button'>{{__ "Select logo"}}</a></p>
                </div> -->

                <h3>{{__ "Watermark"}}</h3>
                  <p><label for='has-watermark'><input type="checkbox" name="has-watermark" id="has-watermark" /> {{__ "Watermark every page"}}</label></p>
                  <p><input type='text' name='watermark' id='watermark' class='well' placeholder='YOUR MESSAGE' /></p>

              {{/Column}}
            {{/Columns}}
          {{/Slide}}
          
          {{#> Slide jump="download" slide=4}}
            
            <h3>{{__ "Legal"}}</h3>
            <fieldset id='legal'>
              <p><label for='permission'><input type='checkbox' name='permission' id='permission'> {{__ "Permission to print"}}</label></p>
              <p class='indent'>{{{__ "For detailed licensing information, see <a href='/legal'>Legal Info</a>"}}}.</p>
            </fieldset>

            <h3>{{__ "Printing Colour"}}</h3>
            <fieldset id='colours'>
              <div class="yui3-g">
                <div class="yui3-u-1-3">
                    <label for="colour-light"><span><input type="radio" id="colour-light" name="colour" value="light"/></span> {{__ "Lighter"}}</label>
                    <label for="colour-normal"><span><input type="radio" id="colour-normal" name="colour" value="normal" checked/></span> {{__ "Normal"}}</label>
                    <label for="colour-dark"><span><input type="radio" id="colour-dark" name="colour" value="dark"></span> {{__ "Darker"}}</label>
                    <label for="colour-black"><span><input type="radio" id="colour-black" name="colour" value="black"></span> {{__ "Black"}}</label>
                </div>
                <div class="yui3-u-1-3">
                    <label for="colour-red"><span><input type="radio" id="colour-red" name="colour" value="red"></span> {{__ "Red"}}</label>
                    <label for="colour-orange"><span><input type="radio" id="colour-orange" name="colour" value="orange"></span> {{__ "Orange"}}</label>
                    <label for="colour-lime"><span><input type="radio" id="colour-lime" name="colour" value="lime"></span> {{__ "Lime"}}</label>
                    <label for="colour-green"><span><input type="radio" id="colour-green" name="colour" value="green"></span> {{__ "Green"}}</label>
                </div>
                <div class="yui3-u-1-3">
                    <label for="colour-cyan"><span><input type="radio" id="colour-cyan" name="colour" value="cyan"></span> {{__ "Cyan"}}</label>
                    <label for="colour-blue"><span><input type="radio" id="colour-blue" name="colour" value="blue"></span> {{__ "Blue"}}</label>
                    <label for="colour-purple"><span><input type="radio" id="colour-purple" name="colour" value="purple"></span> {{__ "Purple"}}</label>
                    <label for="colour-pink"><span><input type="radio" id="colour-pink" name="colour" value="pink"></span> {{__ "Pink"}}</label>
                </div>
              </div>
            </fieldset>

            <h3>{{__ "Download"}}</h3>
              <p class='center'>
                <input type="submit" value="Download"/>
              </p>
          {{/Slide}}

        {{/SwitchCase}}

        {{#> SwitchCase value='gm'}}

          {{#> Slide jump="gm" slide=2 show-next=true}}
            <h2>{{#if (eq game "dnd35")}}{{__ "Dungeon Master"}}{{else}}{{__ "Game Master"}}{{/if}}</h2>
          {{/Slide}}
          
          {{#> Slide jump="gm-options" slide=3 show-next=true}}
            <h2>{{__ "Options"}}</h2>
          {{/Slide}}
          
          {{#> Slide jump="gm-download" slide=4}}
            <h2>{{__ "Download"}}</h2>
          {{/Slide}}
        
        {{/SwitchCase}}
      {{/Switch}}

    {{/Slideshow}}
  </div>