@use 'responsive';

.columns {
    @include responsive.large {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        &.columns--n_2 {
          .column {
              width: 50%;
              flex: 1 1 50%;
          }
        }

        &.columns--n_3 {
          .column {
              width: 33.3%;
              flex: 1 1 33.3%;
          }
        }

        &.columns--n_4 {
          .column {
              width: 25%;
              flex: 1 1 25%;
          }
        }
    }
}