{{#> SideMenu
    id=id
    cls="form-select-menu"
    side="right"
    wide=true
    data=(item code=code)
  }}
    {{#> Pane bg="parchment" nopad=true}}
      {{#> HeaderRow}}
        {{#> Flow}}
          {{#> Row}}
            {{> CloseButton }}
            <h3>{{__ title}}</h3>

            <input type="search" id="search-{{id}}">
          {{/Row}}

          {{#> Row}}
            {{> Facet
              facet="source"
              label="Source"
              type="select"
              options=(array
                (item code="" name="Any")
                (item code="core" name="Core")
                (item code="expansion" name="Expansions")
                (item code="advetures" name="Adventures")
                (item code="thirdparty" name="Third-party")
              )
            }}

            {{> Facet
              facet="rarity"
              label="Rarity"
              type="select"
              options=(array
                (item code="" name="Any")
                (item code="common" name="Common")
                (item code="uncommon" name="Uncommon")
                (item code="common" name="Common")
                (item code="common" name="Common")
              )
              selected=""
            }}
          {{/Row}}
        {{/Flow}}
      {{/HeaderRow}}

      {{#> ScrollPane}}
      {{{dump show}}}
        {{#each select.displayGroups}}
          {{{dump ../show}}}
          <h3>{{__ group}}</h3>

          {{#> ItemList id=(str "${id}-items" id=id) show=../show}}
            {{#each values}}
              {{{dump ../../show}}}
              {{{dump ../../../show}}}
              {{> FormSelectItem item=this show=../../../show}}
            {{/each}}
          {{/ItemList}}
        {{/each}}
      {{/ScrollPane}}
    {{/Pane}}
  {{/SideMenu}}