{{#> SideMenu
    id="main-menu"
    side="left"
  }}
    {{#> Pane bg="blue"}}
      {{> MenuButtons inmenu="main"}}

      <nav class="nav--menu">
        <h2>{{__ "Dyslexic Character Sheets"}}</h2>
        <ul>
          <li>
            <a class="btn btn--light" href="/{{lang}}/">{{__ "Home"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/tour.html">{{__ "Tour"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/news.html">{{__ "News"}}</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://discord.gg/ajVTD4N" class="btn btn--light btn--bgicon button-discord">{{__ "Discord"}}</a>
          </li>
          <li>
            <a href="https://www.patreon.com/dyslexic_charactersheets" class="btn btn--light btn--bgicon button-patreon">{{__ "Patreon"}}</a>
          </li>
          <li>
            <a href="https://www.patreon.com/dyslexic_charactersheets" class="btn btn--light btn--bgicon button-github">{{__ "GitHub"}}</a>
          </li>
        </ul>
        <ul>
          <li>
            <button class="btn btn--light button-contact">{{__ "Contact"}}</button>
          </li>
        </ul>

        <h3>{{__ "Build a character"}}</h3>
        <ul>
          <li>
            <a class="btn btn--light" href="/{{lang}}/build-pathfinder2.html">{{__ "Pathfinder 2e"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/build-starfinder.html">{{__ "Starfinder"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/build-pathfinder1.html">{{__ "Pathfinder 1e"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/build-dnd35.html">{{__ "Dungeons & Dragons 3.5"}}</a>
          </li>
        </ul>

        <h3>{{__ "Information"}}</h3>
        <ul>
          <li>
            <a class="btn btn--light" href="/{{lang}}/open-source.html">{{__ "Open Source"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/translating.html">{{__ "Translating"}}</a>
          </li>
        </ul>

        <h3>{{__ "Legal"}}</h3>
        <p>{{{__ "Copyright &copy; Marcus Downing"}}}</p>
        <p>{{__ "These character sheets are provided under the Artistic License 2.0"}}</p>
        <ul>
          <li>
            <a class="btn btn--light" href="/{{lang}}/legal.html">{{__ "Legal Info"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/license.html">{{__ "Artistic License"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/ogl.html">{{__ "Open Game License"}}</a>
          </li>
          <li>
            <a class="btn btn--light" href="/{{lang}}/orc.html">{{__ "ORC License"}}</a>
          </li>
        </ul>
      </nav>
    {{/Pane}}
  {{/SideMenu}}