@use 'colours';
@use 'fonts';
@use 'build';

nav.nav--milestones {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;

  .nav__inner {
    flex: 3 1 auto;
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button.nav--milestones__milestone {
    position: relative;

    width: 2rem;
    height: 2rem;
    border: 0 none;
    padding: 0;
    margin: 0.5rem 0;
    background: none;
    cursor: pointer;

    &:after {
      content: "✗";
      font-size: 1.5rem;
      font-weight: bold;
      color: colours.$dark-text;
      display: inline-block;
      text-align: center;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
    }

    span {
      @include fonts.heading;
      position: absolute;
      left: 2rem;
      top: 0.5rem;
      line-height: 1rem;
    }

    // -- Layout of milestones -- //

    $wide: 8rem;
    $wide-arrow: 6.5rem;
    $narrow: 4rem;

    &:nth-of-type(1), &:nth-of-type(7) {
      margin-right: $wide;
      + .arrow {
        margin-right: $wide-arrow;
        background-image: url(/images/milestone-arrow1.png);
      }
    }

    &:nth-of-type(2), &:nth-of-type(8) {
      margin-right: $narrow;
      + .arrow {
        background-image: url(/images/milestone-arrow2.png);
      }
    }

    &:nth-of-type(3), &:nth-of-type(9) {
      margin-left: $narrow;
      + .arrow {
        margin-left: $wide-arrow;
        background-image: url(/images/milestone-arrow3.png);
      }
    }

    &:nth-of-type(4), &:nth-of-type(10) {
      margin-left: $wide;
      + .arrow {
        margin-left: $wide-arrow;
        background-image: url(/images/milestone-arrow4.png);
      }
    }

    &:nth-of-type(5), &:nth-of-type(11) {
      margin-left: $narrow;
      + .arrow {
        background-image: url(/images/milestone-arrow5.png);
      }
    }

    &:nth-of-type(6), &:nth-of-type(12) {
      margin-right: $narrow;
      + .arrow {
        margin-right: $wide-arrow;
        background-image: url(/images/milestone-arrow6.png);
      }
    }

    &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
      span {
        left: unset;
        right: 2rem;
      }
    }

    &[data-pick="true"] {
      &:after {
        color: colours.$milestone;
      }
      span {
        color: colours.$milestone;
        padding-bottom: 0.2rem;
        border-bottom: 2px solid colours.$milestone;
      }
    }
  }

  .arrow {
    flex: 2 1 auto;
    display: block;
    width: 100%;
    max-height: 100px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

#left {
  position: relative;
}

#coffee-stain {
  position: absolute;
  top: 25%;
  right: 2rem;
  
  width: 16rem;
  mix-blend-mode: multiply;
  opacity: 0.4;
}