picture {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    flex: 1 1 auto;
    object-fit: contain;
    min-width: 0;
    min-height: 0;
  }

  &.picture--size_logo {
    max-height: 4rem;
    max-width: 20rem;
  }

  &.picture--size_logo-small {
    max-height: 2rem;
    max-width: 15rem;
  }

  &.picture--size_tile {
    max-width: 18rem;
    max-height: 18rem;
  }

  &.picture--size_tile-large {
    max-width: 22rem;
    max-height: 22rem;
  }

  &.picture--transparent {
    mix-blend-mode: darken;
  }
}

button > picture {
  /* width: 100%; */
}