all('.slideshow', (slideshow) => {
  const isVertical = slideshow.classList.contains('slideshow--v');
  const slides = JSON.parse(slideshow.dataset.slides);

  function snapScroll() {
    let jumpto = slideshow.dataset.jump;
    console.log("Jump to slide", jumpto);

    let scrollStart = isVertical ? slideshow.scrollTop : slideshow.scrollLeft;
    let scrollEnd = scrollStart + (isVertical ? slideshow.clientHeight : slideshow.clientWidth);

    let slideElem = slideshow.querySelector('.slide[data-jump="'+jumpto+'"]');
    let slideStart = isVertical ? slideElem.offsetTop : slideElem.offsetLeft;
    let slideMiddle = slideStart + (isVertical ? slideElem.scrollHeight : slideElem.scrollWidth) / 2;
    let slideEnd = slideStart + (isVertical ? slideElem.scrollHeight : slideElem.scrollWidth);

    if (scrollStart < slideStart) {
      console.log("  Scrolling to top of", jumpto);
      if (isVertical) {
        slideshow.scrollTo(0, slideStart);
      } else {
        slideshow.scrollTo(slideStart, 0);
      }
    } else if (scrollEnd > slideEnd) {
      console.log("  Scrolling to end of", jumpto);
      if (isVertical) {
        let to = slideEnd - slideshow.offsetHeight;
        // console.log("    ", slideEnd, "-", slideshow.innerHeight, "=", to);
        if (to < slideStart) {
          // console.log("    Adjusting!", to, "<", slideStart);
          to = slideStart;
        }
        console.log("    Bottom", to);
        slideshow.scrollTo(0, to);
      } else {
        let to = slideEnd - slideshow.offsetWidth;
        // console.log("    ", slideEnd, "-", slideshow.innerHeight, "=", to);
        if (to < slideStart) {
          // console.log("    Adjusting!", to, "<", slideStart);
          to = slideStart;
        }
        console.log("    Right", to);
        slideshow.scrollTo(to, 0);
      }
    }
  }

  watch(slideshow, 'data-jump', snapScroll);

  // Scroll behaviour
  let scrollTimeout = null;
  function endScroll() {
    clearTimeout(scrollTimeout);
    let oldSlide = slideshow.dataset.jump;

    let scrollStart = isVertical ? slideshow.scrollTop : slideshow.scrollLeft;
    let scrollMiddle = scrollStart + (isVertical ? slideshow.clientHeight : slideshow.clientWidth) / 2;
    console.log(`Finished scroll ${scrollStart} ${scrollMiddle}`);

    // find the landing slide
    let newSlide = slides[0];

    let smallestdistance = 100000;
    for (let slide of slides) {
      let slideElem = slideshow.querySelector('.slide[data-jump="'+slide+'"]');

      // skip invisible slides
      if (!slideElem.offsetParent === null) {
        continue;
      }

      let slideStart = isVertical ? slideElem.offsetTop : slideElem.offsetLeft;
      let slideMiddle = slideStart + (isVertical ? slideElem.clientHeight : slideElem.clientWidth) / 2;
      let slideEnd = slideStart + (isVertical ? slideElem.clientHeight : slideElem.clientWidth);
      console.log(`  Slide ${slideElem.dataset.jump} range ${slideStart} ${slideEnd}`);
      if (scrollMiddle >= slideStart && scrollMiddle <= slideEnd) {
        let distance = Math.abs(scrollMiddle - slideMiddle);
        console.log(`    Distance ${slideMiddle} ${distance}`);
        if (distance < smallestdistance) {
          smallestdistance = distance;
          newSlide = slide;
        }
      }
    }
    
    // snap to it
    console.log("Finished on slide", newSlide);
    slideshow.dataset.jump = newSlide;

    // forward
    if (slideshow.dataset.forward) {
      let [target, variable] = slideshow.dataset.forward.split('.');
      set(target, variable, newSlide);
    }
  }

  on(slideshow, 'scroll', (evt) => {
    clearTimeout(scrollTimeout);
    scrollTimeout = setTimeout(endScroll, 200);
  });

  // Buttons
  on(slideshow, 'prev-slide', (evt) => {
    if (isVertical) {
      let to = slideshow.scrollTop - slideshow.clientHeight;
      slideshow.scrollTo(0, to);
    } else {
      let to = slideshow.scrollLeft - slideshow.clientWidth;
      slideshow.scrollTo(to, 0);
    }
  });

  on(slideshow, 'next-slide', (evt) => {
    if (isVertical) {
      let to = slideshow.scrollTop + slideshow.clientHeight;
      slideshow.scrollTo(0, to);
    } else {
      let to = slideshow.scrollLeft + slideshow.clientWidth;
      slideshow.scrollTo(to, 0);
    }
  });

  on(slideshow, 'jump-to-slide', (evt) => {
    slideshow.dataset.jump = '';
  });
});