<template>
  <h2>{{__ "Pages"}}</h2>
  <div class="row row--dense">
    {{> page-option page="permission" label="Permission to print"}}
  </div>
  <h4>{{__ "Character"}}</h4>
  <div class="row row--dense">
      {{> page-option page="cover" label="Cover page" selected="true"}}
      {{> page-option page="level-up" label="Level up" selected="true"}}
      {{> page-option page="reference" label="Action Reference"}}
      {{> page-option page="actions" label="Actions"}}
      {{> page-option page="character-background" label="Character Background"}}
  </div>

  <h4>{{__ "Inventory"}}</h4>
  <div class="row row--dense">
      {{> page-option size="small" page="inventory-half" label="Half" radio="true" name="inventory" value="half"}}
      {{> page-option page="inventory-full" label="Full" selected="true" radio="true" name="inventory" value="full"}}
      {{> page-option page="inventory-extra" label="Extra page"}}
  </div>
  

  <h4>{{__ "Companions"}}</h4>
  <div class="row row--dense">
      {{> page-option page="animal-companion" label="Animal Companion"}}
      {{> page-option page="familiar" label="Familiar"}}
      {{> page-option page="construct" label="Construct"}}
  </div>
</template>
