<template>
  <i class="icon icon_{{icon}}"></i>
</template>

<style>

@mixin icon($icon) {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;

  button & {
    margin-right: 0.3rem;
  }

  background-image: url(/images/#{$icon}-dark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .dark-region & {
    background-image: url(/images/#{$icon}-white.png);
  }

  .dark-region .btn--selected & {
    background-image: url(/images/#{$icon}-dark.png);
  }
}

.icon {
  &.icon_user {
    @include icon('user-icon');
  }

  &.icon_globe {
    @include icon('globe');
  }
}

</style>
