<template>
  <blockquote class="well">
    {{#if title}}<div class="well__title"><span>{{title}}</span></div>{{/if}}
    {{> @partial-block }}
  </blockquote>
</template>

<style>

@use 'colours';
@use 'fonts';

.well {
  border-radius: 0.2rem;
  padding: 0.8rem 1rem;
  margin: 0.5rem 0;
  
  background: rgba(80,40,0,0.1);
  border-bottom: 0.05rem solid rgba(255,255,255,0.5);
  box-shadow: inset 0 2px 3px rgba(20,10,0,0.5);

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  .well__title {
    margin-top: -1.4rem;

    span {
      background: colours.$parchment;
      box-shadow: 0 1px 2px colours.$shadow;
      border-radius: 2px;
      padding: 1px 4px;

      @include fonts.heading;
    }
  }
}

</style>
