{{#> base title="Pathfinder 1e - Dyslexic Character Sheets" body-id="body-build"}}

{{#> build-layout }}
    {{#> left }}
        <nav class="nav--milestones">
            <div class="nav__inner">
                
            </div>
        </nav>
    {{/left}}

    {{#> right }}
        <div class="dark-region">
            <p>RIGHT</p>
        </div>
    {{/right}}
{{/build-layout}}

{{/base}}