{{#> Base title="D&D 3.5e - Dyslexic Character Sheets"}}

{{#> BuildLayout }}
    {{#> Left }}
        <nav class="nav--milestones">
            <div class="nav__inner">
                
            </div>
        </nav>
    {{/Left}}

    {{#> Right }}
        <div class="dark-region">
            <p>RIGHT</p>
        </div>
    {{/Right}}
{{/BuildLayout}}

{{/Base}}
