{{#> Base title="Dyslexic Character Sheets" }}

{{#> HomeLayout }}
  {{#> Left }}
    {{#> Pane bg="parchment"}}
      {{> MenuButtons }}
      {{!-- {{> Quote }} --}}

      <div class="spacer"></div>

      <div class="hero">
        <h1>
          <img src="/images/favicon64.png">
          {{__ "Dyslexic Character Sheets"}}
        </h1>

        {{#> Slideshow 
          id='slides-features'
          auto=true
          jump="custom"
        }}

          {{#> Slide jump='custom'}}
            <h2>Totally custom</h2>
            <p>Class-specific, ancestry-specific, background-specific, archetype-specific, these character sheets are unique to your character in every way</p>
          {{/Slide}}
          
          {{#> Slide jump='print'}}
            <h2>Made for print</h2>
            <p>You can fill these in on the PC, but they're really made for printing</p>
          {{/Slide}}

          {{#> Slide jump='patreon'}}
            <h2>Free, patron-supported</h2>
            <p>The character sheets are completely free. Patrons get extra features, like early access to new content.</p>
          {{/Slide}}
          
          {{#> Slide jump='pages'}}
            <h2>Useful pages</h2>
            <p>Spellbooks, formula books, animal companions, archetypes, inventory pages, map minis, lycanthropes, intelligent weapons and many more</p>
          {{/Slide}}
          
          {{#> Slide jump='pretty'}}
            <h2>Beautifully custom</h2>
            <p>Choose colours and background, pick or upload a character picture, and make your character sheets your own</p>
          {{/Slide}}
          
          {{#> Slide jump='accessibility'}}
            <h2>Accessibility options</h2>
            <p>Choose dyslexic fonts, large print and high contrast options if you need them</p>
          {{/Slide}}
          
          {{#> Slide jump='i18n'}}
            <h2>Translations</h2>
            <p>Available in different languages (options vary)</p>
          {{/Slide}}
          
          {{#> Slide jump='open-source'}}
            <h2>Open source</h2>
            <p>The entire source of this project is on GitHub and released under an open license</p>
          {{/Slide}}

        {{/Slideshow}}

        {{> Pips 
          num=8
          var="#slides-features.jump"
        }}
        

        {{#> Row align=centre}}
          {{#> Button href="tour" id="tour-button" type="primary"}}{{__ "Tour"}}{{/Button}}
        {{/Row}}

      </div>
      <div class="spacer"></div>
      {{> HomePageFooter }}
    {{/Pane}}
  {{/Left}}

  {{#> Right}}
    {{#> Pane bg="red" shadow="right" nopad=true spotlight=true}}
      {{#> PaneBackground }}
        {{> Picture size="bg" src="/images/home-bg-a.png"}}
      {{/PaneBackground}}
      {{#> CentrePane }}

        {{#> SplashPane }}

          {{#> Row}}
            {{#> Button type="tile" on-click="body.currentMenu = new-character-menu"}}
              <h2>{{__ "New character sheet"}}</h2>
            {{/Button}}
            
            {{!-- {{#> Button type="tile" on-click="body.currentMenu = existing-character-menu"}}
              <h2>{{__ "Existing character sheet"}}</h2>
            {{/Button}} --}}
          {{/Row}}

        {{/SplashPane}}
      {{/CentrePane}}
    {{/Pane}}
  {{/Right}}
{{/HomeLayout}}

<div class="responsive-small-medium">
  {{#> Pane bg="parchment"}}
    {{> HomePageFooter }}
  {{/Pane}}
</div>

{{> NewCharacterMenu }}
{{> ExistingCharacterMenu }}

<script src="/data.js"></script>

{{/Base}}
