{{#> base title="Tour - Dyslexic Character Sheets" body-id="body-tour"}}

{{#> tour-layout }}
{{#> left dark=true }}

<p>slides</p>

{{/left}}

{{#> right }}

<h1>Tour</h1>

{{/right}}
{{/tour-layout}}

{{/base}}