{{#> Base title="Tour - Dyslexic Character Sheets" }}

{{#> TourLayout }}
  {{#> Left dark=true }}
    {{#> Pane bg="red" shadow="left"}}
      {{> MenuButtons}}

      <p>slides</p>

    {{/Pane}}
  {{/Left}}

  {{#> Right }}
    {{#> Pane bg="parchment"}}

      <h1>Tour</h1>

    {{/Pane}}
  {{/Right}}
{{/TourLayout}}

{{/Base}}
