<aside id="colour-picker-{{id}}" class="aside--right">
    <div class="aside__inner">
        <nav class="nav--row">
            {{> close-button }}
            <div class="spacer"></div>
        </nav>

        <nav class="nav--menu">
            <h2>{{__ name}}</h2>
            {{> colour-picker id=id }}
        </nav>
    </div>
</aside>