<div class="colour-output" data-colourname="{{id}}">
    <input type="hidden" name="{{id}}" value="#808080">
    <label>{{__ name}}</label>
    <div class="colour-output__inner">
        <div class="colour-output__pallette">
        </div>
    </div>
    <object class="colour-output__emblem" data="/images/colour-wheel.svg" type="image/svg+xml" class="colour-wheel-svg" width="280" height="280"></object>
</div>