<nav id="menu-buttons" class="nav--row">
    {{#if (not (eq page "index"))}}<a href="/{{lang}}/" class="btn btn--min btn--icon home-button">&larr;</a>{{/if}}
    <button class="btn btn--min btn--icon menu-button">☰</button>
    <button class="btn btn--light language-button">{{ lang }}</button>
    <button class="btn btn--light login-button"><i class="i-user"></i>{{__ "Login"}}</button>
    <div class="spacer"></div>
</nav>