<nav class="nav--milestones" data-slide="0" id="{{id}}" data-show="{{show}}">
    <div class="spacer spacer--min"></div>
    <div class="nav__inner">
        {{> @partial-block }}
    </div>
    <div class="spacer spacer--min"></div>
</nav>
