<aside id="multiclass-menu" class="aside--right aside--wide" data-key="multiclass">
    <div class="aside__inner">
        {{#> build-aside-book-pallette close-button=true key='multiclass' name='Multiclass' game='pf2' items=pf2.multiclass}}
            <label>{{__ value.name}}</label>
        {{/build-aside-book-pallette}}
    </div>
</aside>