<aside id="archetype-menu" class="aside--right aside--wide" data-key="archetype">
    <div class="aside__inner">
        {{#> build-aside-book-pallette close-button=true key='archetype' name='Archetype' game='pf2' items=pf2.archetypes}}
            <label>{{__ value.name}}</label>
        {{/build-aside-book-pallette}}
    </div>
</aside>