<div class="slide">
    {{#if (not first)}}
        <button class="btn btn--min btn--icon-label button-prev" data-slide="{{subtract slide 1}}">
            <span class="btn__icon">&uarr;</span>
            <span class="btn__label">Prev</span>
        </button>
    {{/if}}
    
    <div class="slide__inner">
        {{> @partial-block }}
        {{#if (and (not last) show-next)}}
            <div class="row row--centre">
                <button class="btn btn--circle btn--icon-label button-next" data-slide="{{add slide 1}}">
                    <span class="btn__label">Next</span>
                    <span class="btn__icon">&darr;</span>
                </button>
            </div>
        {{/if}}
    </div>
    
    {{#if (and (not last) show-next)}}
        <button class="btn btn--min btn--icon-label button-next" data-slide="{{add slide 1}}">
            <span class="btn__label">Next</span>
            <span class="btn__icon">&darr;</span>
        </button>
    {{/if}}
</div>