<div class="tab-pane{{#if pane-selected}} tab-pane--selected{{/if}}" id="{{set}}-tab-pane-{{name}}" data-set="{{set}}" data-name="{{name}}">
    <div class="tab-pane__inner">
        {{> @partial-block }}
    </div>
</div>