// @use 'scale';
@use 'fonts';
@use 'colours';
@use 'responsive';

$btn-size: 1.7rem;


.badge {
    height: $btn-size;
    line-height: $btn-size;
    min-width: 2.5rem;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;

    background: transparent;
    color: black;
    border: 1px solid colours.$light;
    border-radius: 0.2rem;
    padding: 0 0.6rem;
    font-size: 0.8rem;

    margin-right: 1rem;

    &.badge--language {
        text-transform: uppercase;
    }
}

.language-button {
    text-transform: uppercase;
}

.stack {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid colours.$light;
    border-radius: 0.4rem;
    padding: 1rem;
    background: colours.$red-leather-faded;
    box-shadow: 0 0.1rem 0.25rem colours.$shade;

    width: 20rem;
    flex: 1 1 auto;
    
    cursor: pointer;

    @include responsive.large {
        $stack-width: 22rem;

        max-width: $stack-width;

        &__stack {
            max-width: $stack-width + 4rem;
        }

        &__logo {
            max-width: $stack-width * 0.75;
        }
    }

    @include responsive.medium {
        $stack-width: 20rem;

        max-width: $stack-width;

        &__stack {
            max-width: $stack-width + 2rem;
        }

        &__logo {
            max-width: $stack-width * 0.75;
        }
    }

    @include responsive.small {
        $stack-width: 16rem;

        max-width: $stack-width;

        &__stack {
            max-width: $stack-width + 2rem;
        }

        &__logo {
            max-width: $stack-width * 0.75;
        }
    }

    .stack__label {
        @include fonts.heading;
        text-align: center;
    }

    // .stack__edition {
    //     @include edition-badge;
    // }

    &.stack--fill {
        height: 14rem;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: end;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .stack__label {
            text-shadow: 0 0 0.5rem black, 0 0.1rem 0.2rem black !important;
        }

        &.pick-gm-npc {
            background-image: url(/images/pick-gm-npc.jpg);
        }

        &.pick-gm-campaign {
            background-image: url(/images/pick-gm-campaign.jpg);
        }

        &.pick-gm-maps {
            background-image: url(/images/pick-gm-maps.jpg);
        }

        &.pick-gm-kingdom {
            background-image: url(/images/pick-gm-kingdom.jpg);
        }
    }
}
