@font-face {
    font-family: 'Blokletters';
    src: url(/fonts/Blokletters-Potlood-webfont.woff) format('woff');
    font-weight: normal;
    font-style: lighter;
}

@font-face {
    font-family: 'Blokletters';
    src: url(/fonts/Blokletters-Balpen-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blokletters';
    src: url(/fonts/Blokletters-Viltstift-webfont.woff) format('woff');
    font-weight: normal;
    font-style: bold;
}
