@use 'responsive';
@use 'colours';

@mixin v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin v-fill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin h-layout {
    display: flex;
    flex-direction: row;
}

@mixin v-layout {
    display: flex;
    flex-direction: column;
}


html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

@include responsive.large {
    html {
        overflow: hidden;
    }
    body {
        overflow: hidden;
        width: 100vw;
        height: 100vh;

        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    main {
        width: 100vw;
        height: 100vh;
    }
}

@include responsive.small-medium {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

body#body-read {
    @include responsive.medium {
        overflow: hidden;
        main {
            width: 100vw;
            height: 100vh;
        }
    }
}

main {
    flex: 1 1 auto;

    section {
        @include v-fill;

        .section__inner {
            flex: 1 1 auto;
        }
    }

    #menu-buttons {
        padding-right: 0.25rem;
    }

    &.main--layout_read {
        #left {
            @include responsive.blue-cloth-background;

            .section__inner {
                padding: 0.5rem;
            }
        }

        #right {
            @include responsive.parchment-background;
            
            .section__inner {
                padding: 0 1rem;
                max-width: 60rem;
                margin: 0 auto;
            }
        }

        @include responsive.medium-large {
            @include h-layout;

            #left {
                flex: 1 1 20vw;
                max-width: 20em;
                min-width: 15em;

                @include responsive.left-pane-shadow;
            }

            #right {
                flex: 1 1 80vw;
                overflow-y: scroll;
            }
        }

        @include responsive.small {
            #left {
                display: none;
            }
            @include v-layout;
        }
    }

    &.main--layout_build {
        #left {
            @include responsive.parchment-background;
            .section__inner {
                padding: 0.5rem;
                @include v-layout;
            }
        }

        #right {
            @include responsive.red-leather-background;
            .section__inner {
                @include v-layout;
            }
        }

        @include responsive.medium-large {
            @include h-layout;

            #left {
                flex: 1 1 4rem;
                @include responsive.left-pane-shadow;
            }

            #right {
                flex: 20 1 auto;
            }
        }

        @include responsive.small {
            @include v-layout;
        }

        &.main--theme_scifi {
            #left {
                @include responsive.starfield-background;
            }
            #right {
                @include responsive.scifi-background;
            }
        }
    }

    &.main--layout_tour {
        #left {
            @include responsive.red-leather-background;
            .section__inner {
                padding: 0.5rem;
            }
        }

        #right {
            @include responsive.parchment-background;
            .section__inner {
                padding: 0.5rem;
            }
        }

        @include responsive.medium-large {
            @include h-layout;

            #left {
                flex: 5 1 auto;
                @include responsive.left-pane-shadow;
            }

            #right {
                flex: 1 0 10rem;
            }
        }

        @include responsive.small {

        }
    }
}

.columns {
    @include responsive.large {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .column {
            width: 50%;
            flex: 1 1 50%;
        }
    }
}

.place {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;

    @include responsive.medium-large {
        flex-direction: row;
    }
    
    @include responsive.large {
        gap: 2rem;
        padding: 2rem;
    }

    @include responsive.medium {
        gap: 1rem;
        padding: 1rem;
    }

    @include responsive.small {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    &.row--centre {
        justify-content: center;
    }
}

.grid {
    @include responsive.large {
        gap: 2rem;
        padding: 2rem;
    }

    @include responsive.medium {
        gap: 1rem;
        padding: 1rem;
    }

    @include responsive.small {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
    }
}

.grid--2-2 {
    @include responsive.medium-large {
        display: grid;
        grid-template-areas: "a b" "c d";
    }
}

.grid--3-2 {
    @include responsive.medium-large {
        display: grid;
        grid-template-areas: "a b c" "d e f";
    }
}

.spacer {
    flex: 1000 1 0px;

    &.spacer--min {
        flex: 1 1 0px;
    }
}

.pad {
    height: 4rem;
    flex: 1 10 auto;
}

article {
    padding: 1rem 0;

    h2:first-child {
        margin-top: 0;
    }

    + article {
        border-top: 1px solid colours.$light;
    }
}