@use 'responsive';
@use 'colours';

@mixin v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin v-fill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin h-layout {
    display: flex;
    flex-direction: row;
}

@mixin v-layout {
    display: flex;
    flex-direction: column;
}


html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

@include responsive.large {
    html {
        overflow: hidden;
    }
    body {
        overflow: hidden;
        width: 100vw;
        height: 100vh;

        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    main {
        width: 100vw;
        height: 100vh;
    }
}

@include responsive.small-medium {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

body#body-read {
    @include responsive.medium {
        overflow: hidden;
        main {
            width: 100vw;
            height: 100vh;
        }
    }
}

main {
    flex: 1 1 auto;

    section {
        @include v-fill;

        .section__inner {
            flex: 1 1 auto;
        }
    }
}

.spacer {
    flex: 1000 1 0px;

    &.spacer--min {
        flex: 1 1 0px;
    }
}

.pad {
    height: 4rem;
    flex: 1 10 auto;
}

article {
    padding: 1rem 0;

    h2:first-child {
        margin-top: 0;
    }

    + article {
        border-top: 1px solid colours.$light;
    }
}
