@use 'colours';
@use 'fonts';
@use 'responsive';
@use 'buttons';

nav {
    &.nav--row {
        display: flex;
        flex-direction: row;
        align-items: center;

        .btn + .btn {
            margin-left: 0.5rem;
        }

        .btn.btn--min + .btn.btn--min {
            margin-left: 0;
        }

        h2 {
            margin: 0;
        }
    }

    &.nav--bar {
        margin: 0.5rem 0;
        white-space: nowrap;
    }

    a, button .btn {
        display: inline-block;
    }

    &.nav--menu {
        padding: 1rem;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        h3 {
            border-bottom: 1px solid colours.$shade;
            margin: 0.5rem 0;
        }

        p, ul {
            padding: 0 0 0 1rem;
            margin: 0.5rem 0;
        }

        ul {
            margin: 0.5rem;
            // padding: 0;
            list-style: none;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;

            li {
                display: inline-block;
                min-width: 4rem;
                margin-right: 1rem;
            }

            &.pick-list {
                padding-left: 2.5rem;
                flex-direction: column;
                flex-wrap: nowrap;
                
                .option {
                    cursor: pointer;
                    text-decoration: none;
                }

                .option--selected:before {
                    content: "⟶";
                    display: block;
                    float: left;
                    margin-left: -2rem;
                }
            }
        }
    }
}

.nav--dated {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
        margin: 0;
        padding: 0;
        
        > a {
            display: block;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            padding: 0.6rem 0.3rem;

            text-decoration: none;
            
            time {
                display: block;
                margin-top: 0.2rem;
                font-size: 0.7rem;
                color: rgba(255,255,255,0.7);
            }
        }
    }
}

nav.nav--scrollable {
    overflow-y: auto;
}


// Menus


#contact-menu {
    .aside__inner {
        position: relative;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;

        $curl: 5rem;
        $curl-inset: 4.44rem;

        .page-curl {
            position: absolute;
            bottom: -0.05rem;
            right: -0.05rem;
            width: $curl;
            height: $curl;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: $curl-inset;
            border-right: 1px solid colours.$postit-border;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: $curl-inset;
            bottom: 0;
            border-bottom: 1px solid colours.$postit-border;
        }
    }

    form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    textarea {
        display: block;
        width: 100%;
        flex: 10 1 auto;
        // background: colours.$postit;
        background: transparent;

        border: 1px solid colours.$postit-border;
        padding: 1rem;
        box-sizing: border-box;

        // font-family: 'Reenie Beanie';
        font-family: 'Indie Flower';
        font-size: 1.75rem;
        color: colours.$postit-writing;
    }

    label {
        display: block;
        white-space: nowrap;
    }

    .row {
        padding: 0;
    }
}

.nav--shadow_shallow {
    box-shadow: 0 0.5rem 0.5rem -0.5rem colours.$warm-shadow;
}

.nav--shadow_deep {
    box-shadow: 0 10rem 10rem -10rem colours.$warm-shadow;
}
