@use 'colours';
@use 'fonts';
@use 'build';


.main--theme_adventurer {
  #left .section__inner {
      background-image: url(/images/bg-hex.png);
      background-size: 30rem;
  }

  .colour-grid {
    background-color: rgba(255,255,255,0.8);
    border-radius: 0.4rem;
    padding: 0.4rem 1.2rem;
    box-shadow: inset 0 0.1rem 0.25rem rgba(0, 0, 0, 0.5);
  }
}
